body {
  font-family: 'Quicksand', sans-serif;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  color:#243540;
  display: grid;
  grid-template-columns:
    1fr
    min(90ch, 100%)
    1fr;
}

.middle > * {
  grid-column: 2;
}
.bleed {
  width: 100%;
  grid-column: 1 / 4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 10px 0 10px;
  height: 90px;
}


header>h2{
  font-weight: 400;
  background-color: #243540;
  color: #F2F2F2;
  padding: 10px 20px;
  margin: 1px;
  box-shadow: #DFF2EF 6px 6px;
}

a {
  margin: 20px 5px;
  color: black;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  transition: ease-in .25s;
  width: 20%;
  text-decoration: none;
}

a:hover{
  background-color: #AEBFBC;
  box-shadow: black .5px .5px .5px;
  border-radius: 2px;
  color: #F2F2F2;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  padding-right: 2%;
}

main{
  display: flex;
}
.card{
  height: 300px;
  width: 200px;
  border: black 1px solid;
  border-radius: 5px;
  box-shadow: black 1px 1px 1px;
  margin: 10px;
  padding: 10px;
}