body{
display: grid;
grid-template-rows: 305px 15% 60%;
grid-template-columns: 305px 85% ; 
height: 100%; 
}
.container1{
  grid-row:1/2 ;
  grid-column:1/2 ;
  border: solid blue;
}
.container2{
  border: solid red;
  grid-row: 1/2;
  grid-column: 2/3;
}
.container3{
  border: solid green;
  grid-row:2/3;
  grid-column:2/3;
  display: flex;
}
.container4{
  border: solid purple;
  grid-row: 2/4;
  grid-column: 1/2;
  background-color: slateblue;
  color: white;
}
.container5{
  border: solid yellow;
  grid-row: 3/4;
  grid-column: 2/3;
}